.mainsec4{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.secsectxt{
    color: #FAFAFA;
    font-size: 20px;
    font-weight: 400;
    font-family: "Urbanist", sans-serif;
    width: 42vw;
    text-align: end;
    
}
.sec4frttxt{
    color: #FAFAFA;
    font-size: 64px;
  font-family: "Gowun Batang", serif;
    font-weight: 700;
    line-height: 90px;
    
}


.sec4btn{
    margin-bottom: 9px;
    margin-right: 10px;

    border-radius: 5px;
    width:194px;
    height:51px;
    background: linear-gradient(to left top, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%);
    border-style: none;
    color:#fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.sec4btn span{
    position: absolute;
    display: block;
}
.sec4btn span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
.sec4btn span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
.sec4btn span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

.sec4btn span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

.sec4btn:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.sec4btn:hover span{
    animation-play-state: paused;
}
.forbttmalg{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 25px;
}
.wrapper{
    display: flex;
    justify-content: end;
}
@media screen and (max-width:767px){
    .mainsec4{
        height: 75vh;
    }
    .sec4frttxt{
        font-weight: normal;
        font-size: 51px;
        line-height: normal;

    }
    .secsectxt{
        font-size: 20px;
        width: 64vw;
    }
}